
/**
* Product detail  custom style : list
*/

.custom-disc {
    list-style-type: none;
  }
  
  .custom-disc li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    position: relative;
    padding-left: 35px;
  }
  
  .custom-disc li::before {
    position: absolute;
    height: 6px;
    width: 6px;
    top: 10px;
    left: 20px;
    transform: translate(-50%,-50%); 
    
    content: " ";
    margin-right: 5px;
    font-size: 80%;
    background-color: #0086C9;
    font-weight: bold;
    border-radius: 3px;
  }
  
  .counter-list {
    ist-style-type: none;
  }
  
  .counter-list li {
    counter-increment: step-counter;
    margin-bottom: 5px;
    position: relative;
    padding-left: 19px;
  }
  
  .counter-list li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: counter(step-counter)'.';
  }
  
  /**
  * End : Product detail  custom style 
  */
  
  .ant-statistic .ant-statistic-content, .ant-statistic .ant-statistic-title {
    color: inherit !important;
    font-size: inherit !important;
  }
  
  .ant-image .ant-image-img{
    object-fit: cover !important;
  }
  
  .ant-image .ant-image-mask {
    border-radius: 8px !important;
  }
  
  /**
  * product detail -> detail -> description
  */
  
  .description-content ul,
  .description-content ol  {
    padding-left: 30px;
  }
  
  .description-content ul li,
  .description-content ol li {
    /* padding: 9px 0; */
    line-height: 3rem;
  }
  
  .description-content ul {
    list-style-type: disc; 
  }
  
  .description-content ol {
    list-style-type: decimal;
  }
  
  .description-content ul ::marker {
    color: #0BA5EC;
  }
  
  /**
  *   END : product detail -> detail -> description
  */
  
  .ant-picker-input input::placeholder {
    color: #ffffff !important;
  }
  
  /* End */
  